{% extends 'layout.html' %}
{% block content %}

<section class="Intro home">
    <h>Family Finance Management</h>
    <img src="static/img/img.jpg" alt="Family Finance Image" class="header-image">
    <h1>Welcome!</h1>
    <p>Managing family finances can be challenging, but it doesnt have to be. Our app helps families track expenses,
        set budgets, and reach financial goals—together. Whether its teaching kids about money, keeping an eye on
        shared family expenses, or planning for the future, Our appliacation offers easy-to-use tools for every member
        of the family.
        With dedicated profiles for parents, kids, and admins, everyone can stay informed and involved. Our goal is to
        make family financial management a seamless, collaborative, and rewarding experience. Lets take control of your
        familys financial future today!</p>
</section>
<footer>
    <span>2024 - Family Budget</span>
</footer>
{% endblock %}

