{% extends 'layout.html' %}
{% block content %}
<section class="form-section">
    <div class="form-container">
        <h2>Sign In</h2>
        {% if error %}
        <div class="error-message">{{ error }}</div>
        {% endif %}
        
        <form class="sign" action="{{ url_for('home.sign_in') }}" method="POST">
            <label for="username">User Name:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>

            <button type="submit" class="btn-signin">SIGN IN</button>
        </form>
        <div class="signup-link">
            <p>Want register family?</p>
            <a class="btn-signup", href="{{ url_for('home.sign_up') }}"> SIGN UP</a>
        </div>
    </div>
</section>
{% endblock %}